// Define primary colors:

$primary_1: rgb(39, 42, 49);
$primary_2: rgba(236, 82, 66, 1);
$primary_3: rgba(211, 211, 211, 1);
$primary_4: rgba(157, 157, 157, 1);
$primary_5: #f3f1f5;

// Define primary fonts:

$headings: cocogoose, sans-serif;
$paragraphs: lato, sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $paragraphs;
  overflow-x: hidden;
}

h1 {
  font-family: $headings;
  color: $primary_2;
  font-size: 3rem;
  line-height: 45px;
}

h2 {
  font-family: $headings;
  color: $primary_1;
}

h3 {
  font-family: $paragraphs;
  color: $primary_1;
}

h4 {
  font-family: $paragraphs;
  color: $primary_2;
}

h5 {
  font-family: $paragraphs;
  color: $primary_2;
  font-style: italic;
  font-size: 0.7rem;
}

h1,
h3,
h4,
h5 {
  margin: 0;
}

p {
  font-family: $paragraphs;
  color: $primary_1;
  margin: 0;
}

li {
  font: $paragraphs;
  color: $primary_3;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

hr {
  width: 10%;
  border-color: $primary_2;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.page_container {
  display: flex;
  flex-direction: column;
}

.h3onDark {
  color: $primary_5;
  text-align: center;
}

.hidden {
  display: none;
}

.mobileMenu {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  height: 100vh;
}

nav > a > img {
  height: 60px;
  opacity: 70%;
  margin-left: 20px;
  margin-top: 20px;
}

.logoCont > img {
  width: 70%;
}

.mobileMenu > a > img {
  float: right;
  width: 25px;
}

.mobileMenu > ul > li {
  margin-top: 15px;
}

.mobileMenu > ul > li > a {
  font-size: 2rem;
  color: $primary_4;
  text-decoration: none;
}

// HEADER / NAV

header {
  background-color: rgba(211, 211, 211, 0.2);
  overflow: hidden;
  position: relative;
}

.backgroundImage {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
}

nav {
  height: 25vh;
}

// MAIN

main {
  background-color: rgba(211, 211, 211, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingMain,
.headingAbout {
  border-top: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

#heading > h3 {
  color: $primary_2;
  font-size: 1.5rem;
  font-weight: 300;
}

#heading > h1 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.more {
  border: 1px solid $primary_3;
  padding: 20px 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  color: $primary_4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introMain {
  border: solid 2px white;
  padding: 10px 15px;
}

#heading > h2 {
  margin-top: 15px;
  margin-bottom: 0;
}

.where {
  margin-top: 0;
  color: $primary_4;
}

// PROGRAM

#program {
  background-color: $primary_1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#program > h3 {
  margin-top: 30px;
}

#program > ul {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

#program > ul > li {
  background-color: rgba(157, 157, 157, 0.3);
  margin: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  flex: 1;
}

.partnerCont > li > img {
  padding-right: 20px;
}

.teacherCont > p {
  font-size: 0.7rem;
  margin-top: 5px;
}

#program > ul > li > img {
  height: 40px;
  padding-right: 15px;
}

#program > ul > li > h4 {
  width: 200px;
}

#program > ul > li > p {
  font-size: 0.7rem;
  padding-left: 15px;
  color: $primary_5;
}

.joinBtn {
  background-color: $primary_2;
  color: $primary_5;
  font-family: $paragraphs;
  padding: 15px 30px;
  margin-top: 14px;
  margin-bottom: 40px;
}

// TEACHERS

#teachers {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  background-color: white;
}

#teachers > h3 {
  margin-top: 15px;
}

#teachers > ul {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
}

#teachers > ul > li {
  display: flex;
}

.imgCont {
  position: relative;
}

.teacherImage {
  height: 120px;
  margin: 0 15px 20px 35px;
  position: relative;
}

.backgroundImg {
  position: absolute;
  top: -30px;
  left: 5px;
}

.separator {
  height: 2px;
  background-color: $primary_4;
  border: none;
  margin: 5px 0;
}

.teacherCont {
  display: flex;
  flex-direction: column;
}

// FOOTER

footer > p > span {
  padding-left: 10px;
  align-self: center;
}

// ABOUT PAGE

.headingAbout {
  border: none;
}

.aboutMain {
  text-align: center;
}

.intro {
  background-color: white;
  border: solid 1px $primary_3;
  padding: 20px 15px;
}

.smallText {
  color: $primary_1;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.email {
  font-weight: 800;
  text-decoration: underline;
}

// INFO SECTION

#info {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.infoText {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.logoCont {
  border: solid 1px $primary_3;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
}

// GALLERY

#gallery {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid $primary_3;
  width: 100%;
}

.galleryText {
  margin: 0 50px 50px 50px;
}

.galleryImg {
  display: block;
  width: 80%;
  height: auto;
}

.img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}

.overlayCont {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  background-color: rgba(236, 82, 66, 0.5);
}

.overlayText {
  margin-top: 20%;
  color: $primary_5;
}

// PARTNERS

.partners {
  background-color: $primary_1;
  width: 100%;
  padding-top: 15px;
}

.partnerCont {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// FOOTER

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerText {
  margin: 0;
  padding-left: 20px;
}

// ---------  MEDIA QUERIES ------------

@media screen and (max-width: 768px) {
  #teachers > ul > .hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page_container {
    width: 100vw;
  }

  .socialsCont {
    display: block;
    background-color: $primary_1;
    opacity: 0.8;
  }

  .socialsCont > ul {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 120px;
    padding-bottom: 5px;
  }

  .socialsCont > ul > li {
    margin-left: 20px;
  }

  nav > a {
    display: none;
  }

  .mobileMenu > a {
    display: none;
  }

  .socialsCont > ul > li > a {
    color: $primary_5;
    font-size: 0.8rem;
  }

  .footer > img {
    margin-right: 30px;
  }

  .logoCont > img {
    margin-top: 50px;
  }

  .footerAbout > div > img {
    margin-right: 30px;
  }

  .socialsCont > ul > li > a > img {
    height: 20px;
    padding-top: 3px;
  }

  header {
    margin-top: 120px;
  }

  .greeting {
    display: block;
    color: $primary_2;
    margin-left: 120px;
    font-size: 2rem;
  }

  .headingMain {
    width: 60%;
    align-self: flex-start;
    padding-left: 120px;
    height: 75vh;
  }

  #heading > h1 {
    margin-top: 15px;
  }

  #heading > h2 {
    margin-top: 35px;
  }

  #heading > h3 {
    display: none;
  }

  .hostLogo {
    display: block;
    float: left;
    margin-right: 100px;
  }

  .campaignBtn {
    display: block;
    border: 2px solid $primary_2;
    color: $primary_2;
    padding: 7px 10px;
  }

  .mobileMenu {
    display: block;
    position: fixed;
    margin: 0;
    width: 100vw;
    z-index: 10;
    opacity: 0.9;
    height: auto;
  }

  .mobileMenu > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 25px;
    margin: 0;
  }

  .mobileMenu > ul > li > a {
    font-size: 0.9rem;
  }

  #program > ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    padding-right: 120px;
    padding-left: 120px;
  }

  #program > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
  }

  .teacherCont > h4 {
    color: $primary_1;
    margin-bottom: 7px;
  }

  #program > ul > li > h4 {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #program > ul > li > p {
    padding-left: 0;
    text-align: center;
  }

  #program > ul > li > img {
    padding-right: 0;
  }

  .joinBtn {
    display: none;
  }

  .seeProgram {
    display: block;
    color: $primary_5;
    margin-top: 40px;
    margin-bottom: 60px;
    text-decoration: underline;
  }

  #teachers > ul {
    margin-left: 120px;
    margin-right: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    column-gap: 20px;
  }

  .more {
    display: none;
  }

  .partners {
    display: block;
  }

  .partnerCont {
    padding-bottom: 30px;
  }

  .footer {
    width: 100vw;
    background-color: $primary_5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
    margin-left: 0;
  }

  .headingAbout {
    align-self: center;
    padding: 0 120px 100px 120px;
  }

  #info {
    width: 100vw;
    padding-right: 120px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logoCont {
    width: 50%;
  }

  #gallery {
    padding-left: 120px;
    padding-right: 120px;
  }

  .galleryCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-overlay {
    flex: 1;
  }

  .partnersAbout {
    display: none;
  }

  .footerAbout {
    padding: 0 120px;
    background-color: $primary_1;
  }

  .footerAbout .footerText {
    display: none;
  }

  .extraText {
    display: block;
    color: $primary_5;
  }

  .logoBlack {
    display: none;
  }

  .logoWhite {
    display: block;
  }
}
